


#banner{
    background-image: url('./img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#e{
    color: rgb(221, 15, 50);
}
.button{
    background-image: linear-gradient(to right, rgb(221, 15, 50),rgb(191, 1, 106));
}
#services{
        color: transparent;
        -webkit-text-stroke: 2px white;
    
}